// rules_version = '2';
// service cloud.firestore {
//   match /databases/{db}/documents {

// // Customer
// match /Customer/{CustomerID} {
//   allow read: if request.auth != null;
//   allow write: if request.auth != null && request.auth.uid == CustomerID;
// }
    
//     // Zone
//     match /Zone/{ZoneID} {
//       allow read: if true;
//     }
    
//     // Building
//     match /Building/{BuildingID} {
//       allow write: if request.auth != null;
//       allow read: if request.auth != null;
//     }
    
//     // Rating
//     match /Rating/{ratingId} {
//       allow create: if request.auth != null;
//       allow read: if true;
//     }
    
//      // Report
//     match /Report/{ReportID} {
//       allow create: if request.auth != null;
//       allow read: if true;
//     }

//     // Orders
//     match /Order/{orderId} {
//   // Creating: check against request.resource.data
//   allow create: if request.auth != null &&
//     (request.auth.uid == request.resource.data.CustomerID ||
//      request.auth.uid == request.resource.data.EmployeeID);

//   // Reading/Updating/Deleting: check against existing resource
//   allow read, update, delete: if request.auth != null &&
//     (request.auth.uid == resource.data.CustomerID ||
//      request.auth.uid == resource.data.EmployeeID);
// }

//     // OrderProduct
//     match /OrderProduct/{orderProductId} {
//       allow read: if true;
//       allow write: if request.auth != null;
//     }

//     // Product
//     match /Product/{productId} {
//       allow read: if true;
//       allow write: if request.auth != null;
//     }

//     // Employee
//     match /Employee/{employeeId} {
//       allow read: if true;
//       allow write: if request.auth != null;
//     }

// match /chats/{chatId} {
//       allow read, write: if request.auth != null;
//       match /messages/{messageId} {
//         allow read, write: if request.auth != null;
//       }
//     }
//   }
// }

rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
